:root {
--ivory: #bcdad4;
--stone: #020303;
--sand: #11333f;
--shell: #dce9ec;

--root: #ffffff;
--taupe: #336457;
--lotus: #0a424097;
}

body {
padding: 0;
margin: 0;
font-family: "Roboto";
font-size: 12px;
color: var(--taupe);
background-color: var(--stone);
background-image: url(https://i.ibb.co/0q0mSHr/image.png);
background-blend-mode: multiply;
}

a {
text-decoration: none;
color: var(--lotus);
}

#map {
width: 700px;
position: relative;
margin: 0 auto;
}

.map-header {
width: 100%;
height: 200px;
background-color: var(--ivory);display: flex;
align-items: center;
box-sizing: border-box;
padding: 0 50px;
}

.iph-title {
font-family: ambroise-std;
font-size: 42px;
color: var(--lotus);
font-weight: 800;
width: 350px;
line-height: 36px;
text-align: left;
letter-spacing: -1px;
text-transform: uppercase;
}

.map-legend {
display: flex;
width: 700px;
 justify-content: space-around;
}

.map-legend h1 {
font-family: Poppins;
font-size: 11px;
text-transform: uppercase;
 text-align: center;
color: var(--lotus);
font-weight: 800;
letter-spacing: 3px;
margin: 0 0 10px 0;
padding: 0;
}

.map-legend-areas {
width: 425px;
margin-left: 100px;
display: flex;
align-items: center;
flex-wrap: wrap;
align-content: flex-start;
}

.map-legend-toggle {
border: 0;
width: 100%;
margin-inline-start: 0;
margin-inline-end: 0;
padding-block-start: 0;
padding-inline-start: 0;
padding-inline-end: 0;
padding-block-end: 0;
}

.legend-btn {
display: inline-block;
font-family: Roboto Mono;
font-size: 10px;
color: var(--ivory);
background: var(--sand);
padding: 3px 6px 3px 5px;
margin-right: 5px;
cursor: pointer;
transition: all ease 0.4s;
user-select: none;
}

.tog-btn-off {
color: var(--sand);
background: var(--shell);
}

.legend-markers {
width: 100%;
margin-top: 20px;
display: flex;
align-items: center;
flex-wrap: wrap;
}

.legend-markers h1 {
width: 100%;
}

.legend-markers > div {
position: relative !important;
}

.legend-markers .legend-location {
box-shadow: 0px 0px 2px var(--sand), 0px 0px 2px var(--sand),
0px 0px 2px var(--sand), 0px 0px 2px var(--sand);
margin-right: 120px;
display: flex;
align-items: center;
}
#justmarriedmap {
margin: 0 auto;
position: relative;
width: 700px;
height: 700px;
background-image: url(https://2img.net/i.imgur.com/0DroCD6.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-color: var(--sand);
overflow: hidden;
}

#justmarriedmap::before {
content: " ";
width: 700px;
height: 700px;
position: absolute;
background: var(--lotus);
mix-blend-mode: lighten;
}

.modal-content {
display: none;
}

#fade-background {
position: fixed;
position: absolute;
top: 200px;
left: 610px;
width: 700px;
height: 700px;
background: var(--lotus);
z-index: 998;
}

#modal-location {
position: fixed;
box-sizing: border-box;
padding: 40px;
top: calc(50% - 165px);
left: calc(50% - 240px);
width: 480px;
height: 330px;
background-color: var(--shell);
border-radius: 3px;
z-index: 999;
}

.modal-head {
width: 100%;
display: flex;
align-items: flex-start;
border-bottom: 1px solid var(--stone);
padding-bottom: 30px;
margin-bottom: 30px;
}

.modal-head div:first-child {
font-size: 30px;
padding: 5px 20px 0 0;
}

#modal-location h1 {
font-family: ambroise-std;
text-transform: uppercase;
font-size: 28px;
font-weight: 800;
color: var(--lotus);
margin: 10px 0 0 0;
padding: 0;
line-height: 86%;
}

#modal-location p {
margin: 0 20px;
line-height: 200%;
}

#modal-location p b {
background-color: #e4dcd6;
font-family: Roboto Mono;
font-size: 11px;
font-style: normal;
padding: 0 2px;
}

#modal-location a:hover {
opacity: 0.5;
-moz-opacity: 0.5;
}

#modal-location a i {
display: inline-block;
width: 19px;
height: 19px;
border: 2px solid;
display: flex;
align-items: center;
justify-content: center;
font-size: 9px;
margin: -1px 10px 0 0;
padding-left: 2px;
box-sizing: border-box;
color: var(--sand);
}

.kingdoms {
width: 100%;
height: 100%;
position: absolute;
}

.locfaction {
display: inline-block;
margin-right: 7px;
}

.locfaction img {
user-select: none;
cursor: pointer;
width: 80px;
}

.area {
position: absolute;
width: 700px;
height: 700px;
background-size: cover;
background-repeat: no-repeat;
opacity: 0;
-moz-opacity: 0;
transition: all ease 0.4s;
}

.area.high {
background-image: url(https://2img.net/i.imgur.com/eRe6cJS.png);
}

.area.middle {
background-image: url(https://2img.net/i.imgur.com/9AuqS5K.png);
}

.area.normal {
background-image: url(https://2img.net/i.imgur.com/SFrLehb.png);
}

.area.low {
background-image: url(https://2img.net/i.imgur.com/148EfTQ.png);
}

.area-active {
opacity: 1;
-moz-opacity: 1;
}

.justmarried-points {
position: absolute;
width: 100%;
height: 100%;
z-index: 5;
transition: all ease 0.4s;
}

.location,
.legend-location {
box-sizing: border-box;
width: 16px;
height: 16px;
border: 3px solid var(--shell);
background: var(--lotus);
border-radius: 50%;
position: absolute;
transition: all ease 0.4s;
}

.location:hover {
background: var(--sand);
}

.toggle-hide {
opacity: 0;
-moz-opacity: 0;
}

/* REPUBLIC OF high */
.nerima {
top: 200px;
left: 100px;
}

.itabashi {
top: 150px;
left: 220px;
}

.kita {
top: 180px;
left: 320px;
}

.adachi {
top: 150px;
left: 450px;
}

.katshushika {
top: 200px;
left: 550px;
}

.suginami {
top: 300px;
left: 120px;
}

.nakano {
top: 280px;
left: 210px;
}
